@model HomeViewModel


    <div class="container bg-white p-2">
        <nav class="breadcrumb  bg-white">
            <a class="breadcrumb-item" href="/Home">Home</a>

            <span class="breadcrumb-item active">About</span>
        </nav>
        <div class="three"> <h1 class="text-xl-center">О нас</h1></div>
        <hr />
        <div class="row">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-10">
                <h5>Добро пожаловать на сайт IBee.</h5>
                <h5>Данный ресурс предназначен для помощи пчеловодам в ведении их хозяйства. Здесь вы сможете:</h5>
                <h5>• Создавать собственные пасеки и указывать их местоположение на карте Google</h5>
                <h5>• Создавать улья, давая им уникальные имена, и заполнять их карточки</h5>
                <h5>• Создавать списки событий, чтобы не забывать о своих делах</h5>
                <h5>• Производить сбор продуктов производства: мёд, воск, пыльца, прополис и маточное молочко</h5>
                <h5>• Просматривать статистику изменения параметров ваших ульев: сила семьи, количество рамок и масса улья</h5>
                <h5>• Просматривать справочную информацию о веденнии пасечного хозяйства</h5>
                <br />
                <h5>Надеюсь, Вам понравится мой сайт. Желаю всего наилучшего. Удачи, пчеловоды!</h5>
                <br />
                <br />
                <h6>Контактные данные:</h6>
                <h6>Разработчик: Александр Лыков</h6>
                <h6>Email: 551355135513@mail.ru</h6>
                <h6>2020г</h6>
            </div>
            <div class="col-sm-1">

            </div>
        </div>

        

    </div>

