@model HomeViewModel


    <div class="container bg-white p-2">

        <h1 class="text-xl-center">Здесь что-то написано</h1>


        
        <h1 class="text-xl-center"></h1>
        <h1 class="text-xl-center"></h1>
        <h1 class="text-xl-center"></h1>
        <h1 class="text-xl-center"></h1>
        <h1 class="text-xl-center"></h1>
        <h1 class="text-xl-center"></h1>
        <h1 class="text-xl-center"></h1>
        <h1 class="text-xl-center"></h1>
        <h1 class="text-xl-center"></h1>
        <h1 class="text-xl-center"></h1>
        <h1 class="text-xl-center"></h1>
        <h1 class="text-xl-center"></h1>
        <h1 class="text-xl-center"></h1>
        <h1 class="text-xl-center"></h1>


    </div>

