@model HomeViewModel

<h1 class="text-xl-center">Здесь что-то написано</h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>
<h1 class="text-xl-center"></h1>