@model LoginModel



    <div class="container bg-white p-2">

        <nav class="breadcrumb bg-white">
            <a class="breadcrumb-item" href="/Home">Home</a>


            <span class="breadcrumb-item active">Login</span>
        </nav>

        <div class="three"> <h1 class="text-xl-center">Вход на сайт</h1></div>

        <h1></h1>




        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <div class="form-group ">
                    <label asp-for="Email"><b>Введите Email</b></label>
                    <br>
                    <input type="text" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"><b>Введите пароль</b></label>
                    <br>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <br />
                <input type="submit" value="Войти" class="btn btn-outline-dark" />

                <a asp-action="Register" asp-controller="Account" value="Регистрация" class="btn btn-outline-dark">Регистрация</a>


            </div>
        </form>

        <br />
        <br />
        <br />
    </div>
