@model InfoViewModel

    <div class="container bg-white p-2">
        <nav class="breadcrumb bg-white">
            <a class="breadcrumb-item" href="/Home">Home</a>
            <span class="breadcrumb-item active">Info</span>
        </nav>

        <div class="three"> <h1 class="text-xl-center">Справочник</h1></div>
        <h1></h1>

        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-10">
                <div class="rounded">

                    @foreach (var inf in Model.getInf)
                    {



                        <a href="List/@inf.Name">


                            <b>@inf.Name</b>

                        </a>


                        <hr />
                    }


                </div>
            </div>
            <div class="col-1">

            </div>
        </div>
        
        <br />
        <br />
        <br />
    </div>



