@model InfoViewModel
    

    <style>
        p {
            text-indent: 20px; /* Отступ первой строки в пикселах */
        }
    </style>

    <div class="container bg-white p-2">
        <nav class="breadcrumb bg-white">
            <a class="breadcrumb-item" href="/Home">Home</a>
            <a class="breadcrumb-item" href="/Info/List">Info</a>

            <span class="breadcrumb-item active">@Model.oneInf.Name</span>
        </nav>


        <div class="three"> <h1 class="text-xl-center">@Model.oneInf.Name</h1></div>

        <h1></h1>
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-10">
                @foreach (var des in Model.desc)
                {
                    <p>@des</p>

                }
                
            </div>
            <div class="col-1">

            </div>
        </div>
        
        <br />
        <br />
        <br />
    </div>
