<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>





    <header class="bg-black">
        <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
            <a class="navbar-brand" href="/">IBee</a>



            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>

            </button>




            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                    </li>

                    @*<li class="nav-item">
                            <a class="nav-link" href="/ShopCart/">Корзина</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Cars/List">Все товары</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Cars/List/tesla">Электро</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Cars/List/benz">Бенз</a>
                        </li>*@



                    <li class="nav-item">
                        <a class="nav-link" href="/Info/List">Справочник</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Apiary">Пасечное хозяйство</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About">Про нас</a>
                    </li>


                    @*<li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">|</a>
                        </li>*@

                    @if (User.Identity.IsAuthenticated)
                    {

                        <li class="nav-item">

                            <a class="nav-link text-warning" href="/Account/About">Привет, @User.Identity.Name</a>
                        </li>
                        <li class="nav-item">

                            <a asp-action="Logout" asp-controller="Account" value="Выход" class="btn btn-outline-danger btn-sm">Выход</a>
                        </li>

                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-warning" href="/Account/About">Войти в Личный кабинет</a>
                        </li>
                    }

                </ul>
                <form class="form-inline mt-2 mt-md-0" asp-controller="Info" asp-action="Search" method="get">

                    <input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="sea" name="sea">
                    <button class="btn btn-outline-warning my-2 my-sm-0 btn-sm" type="submit">Поиск</button>
                </form>
            </div>
        </nav>
    </header>

    
            @RenderBody()
     
    







    <!-- Footer -->
    <footer class="page-footer fixed-bottom">
        <!-- Copyright -->
        <div class="row">
            <div class="col-6">

                <p class=" text text-center">© 2020 Copyright Александр Лыков </p>

            </div>
            <div class="col-6">

                <p class="text text-center"><a class="text-warning" href="#"> Вернуться к началу </a> </p>

            </div>

        </div>


        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <script src="~/js/bootstrap.min.js"></script>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
